<template name="manageDevice">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

    input[type=email]:focus,
    input[type=password]:focus,
    input[type=text]:focus {
      box-shadow: 0 0 5px rgba(3, 221, 255, 0.8);
      border: 1px solid rgba(3, 221, 255, 0.8);
    }

    .form-horizontal {
      width: 320px;
      background-color: #ffffff;
      padding: 25px 38px;
      border-radius: 12px;
      box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.5);
    }
    td.dt-center.editor-edit {
    cursor: pointer;
}
td.dt-center.editor-delete {
    cursor: pointer;
}
    .control-label {
      text-align: left !important;
      padding-bottom: 4px;
    }

    .progress {
      height: 3px !important;
    }

    .form-group {
      margin-bottom: 10px;
    }

    .progress-bar-danger {
      background-color: #e90f10;
    }

    .progress-bar-warning {
      background-color: #ffad00;
    }

    .progress-bar-success {
      background-color: #02b502;
    }

    .login-btn {
      width: 180px !important;
      background-image: linear-gradient(to right, #f6086e, #ff133a) !important;
      font-size: 18px;
      color: #fff;
      margin: 0 auto 5px;
      padding: 8px 0;
    }

    .login-btn:hover {
      background-image: linear-gradient(to right, rgba(255, 0, 111, 0.8), rgba(247, 2, 43, 0.8)) !important;
      color: #fff !important;
    }

    .fa-eye {
      color: #022255;
      cursor: pointer;
    }

    .ex-account p a {
      color: #18a2ed;
      text-decoration: underline;
    }

    .fa-circle {
      font-size: 6px;
    }

    .fa-check {
      color: #02b502;
    }
    .mb-3 {
    display: flex;
    align-items: center;
}

  </style>
  {{#if rolesCheck}}
  {{> not_access}}
  {{else}}
  {{#if userUnVerified}}
  {{> verify_form }}
  {{else}}

  <div class="manage-users row shadow">
    <div class="col-md-3 pull-right" style="display: grid;
    justify-items: center;">
      <button type="submit" class="btn btn-success" id="add-station">Thêm Dataloger mới</button>
    </div>
    <table id="data_dataloger" class="display" style="width:100%">
      <thead>
        <tr>
          <th>ID</th>
          <th>Dataloger</th>
          <th>Serial</th>
          <th>Thời gian bắt đầu</th>
          <th>Thời gian kết thúc</th>
          <th>Trạm</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
    </table>

  </div>
  <div id="_modal" class="_modal">
    <div class="_main" style="
      display: grid;
     
      max-height: 700px;
      overflow: auto;
      width: 30%;
      /* justify-items: center; */
      /* align-content: stretch; */">
      <div class="_container">
        <div class="_title">
          <h3>Sửa dữ liệu của Dataloger</h3>
        </div>
        <hr />
        <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="recipient-name" class="col-lg-4 col-form-label">Trạm:</label>
            <div class="col-lg-8"><input type="text" class="form-control" id="dataloger_station" placeholder="Ví dụ : BDVB" value=""></div>
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-lg-4 col-form-label">Dataloger:</label>
            <div class="col-lg-8"><input type="text" class="form-control" id="dataloger" placeholder="Tên thiết bị" value=""></div>
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-lg-4 col-form-label">Serial:</label>
            <div class="col-lg-8"><input type="text" class="form-control" id="serial_dataloger" value=""></div>
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-lg-4 col-form-label">Thời gian bắt đầu:</label>
            <div class="col-lg-8"><input type="date"
              value="" min="2011-06-07T00:00" id="start_date" ></div>
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-lg-4 col-form-label">Thời gian kết thúc:</label>
            <div class="col-lg-8"><input type="date"
              value="" min="2011-06-07T00:00" id="end_date" ></div>
          </div>
        
        </form>
      </div>
        <div class="_footer mt-5">
          <button class="btn btn-info save" id = "save_edit_dataloger" >Xác nhận</button>
          <button id="close-modal" class="close-modal">Đóng</button>
        </div>
      </div>
    </div>

  </div>
  <div id="modal_add_dataloger" class="_modal">
    <div class="_main" style="
      display: grid;
  
      max-height: 700px;
      overflow: auto;
      width: 30%;
      /* justify-items: center; */
      /* align-content: stretch; */">
      <div class="_container">
        <div class="_title">
          <h3>Thêm dữ liệu của Dataloger</h3>
        </div>
        <hr />
        <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="recipient-name" class="col-lg-4 col-form-label">Trạm:</label>
            <div class="col-lg-8"><input type="text" class="form-control" id="dataloger_station_" placeholder="Ví dụ : BDVB" value=""></div>
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-lg-4 col-form-label">Dataloger:</label>
            <div class="col-lg-8"><input type="text" class="form-control" placeholder="Tên thiết bị" id="dataloger_" value=""></div>
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-lg-4 col-form-label">Serial:</label>
            <div class="col-lg-8"><input type="text" class="form-control" id="serial_dataloger_" value=""></div>
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-lg-4 col-form-label">Thời gian bắt đầu:</label>
            <div class="col-lg-8"><input type="date"
              value="" min="2011-06-07T00:00" id="start_date_" ></div>
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-lg-4 col-form-label">Thời gian kết thúc:</label>
            <div class="col-lg-8"><input type="date"
              value="" min="2011-06-07T00:00" id="end_date_" ></div>
          </div>
    
        </form>
      </div>
        <div class="_footer mt-5">
          <button class="btn btn-info save" id = "save_add_dataloger" >Xác nhận</button>
          <button id="close-modal" class="close-modal">Đóng</button>
        </div>
      </div>
    </div>

  </div>
  <div id="modal_delete_dataloger" class="_modal">
    <div class="_main" style="
        display: grid;
        overflow: auto;
        width: 30%;
        height: 300px;
        /* justify-items: center; */
        /* align-content: stretch; */">
      <div class="_container">
        <div class="_title">
          <h3>Xóa dữ liệu của Dataloger</h3>
        </div>
        <hr />
        <div class="modal-body">
          <h4 id="content_delete"></h4>
        </div>
        <div class="_footer">
          <button class="btn btn-info save" id="delete_dataloger">Xác nhận</button>
          <button id="close-modal" class="close-modal">Hủy</button>
        </div>
      </div>
    </div>
  
  </div>
  {{/if}}
  {{/if}}
</template>