<template name="footer">
  <!-- <footer>
        <div class="content-bottom w-100 d-flex align-items-center">
            <div class="container-fluid">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="footer-logo">
                        <a class="d-block" href="https://fimo.edu.vn"><img src="./assets/img/logo.png" alt="logo"></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-6">
                        <p class="mb-0 text-muted text-medium">FIMO 2021</p>
                    </div>
                </div>
            </div>
        </div>
    </footer> -->
  <footer class="footer">
    <div class="row p-2">
      <div
        class="col-12 col-sm-12 col-md-2 d-grid align-items-center justify-content-center mb-3"
      >
        <div class="footer-logo">
          <a class="d-block" href="/"
            ><img src="./assets/img/logo.png" alt="logo"
          /></a>
        </div>
      </div>
      <div
        class="col-12 col-sm-12 col-md-8 footer-info px-5 p-md-2 d-grid justify-content-center"
      >
        <div class="row mb-3 px-4">
          <div class="col-1 d-grid justify-content-center p-0">
            <i class="fa fa-map-marker"></i>
          </div>
          <div class="col-11 d-flex align-items-center">
            <span class="text-white"
              >18 Hoàng Quốc Việt, Nghĩa Đô, Cầu Giấy</span
            >
          </div>
        </div>
        <div class="row mb-3 px-4">
          <div class="col-1 d-grid justify-content-center p-0">
            <i class="fa fa-phone"></i>
          </div>
          <div class="col-11 d-flex align-items-center">
            <span style="color: white"> (+84) 24 3756 4380</span>
          </div>
        </div>
        <div class="row mb-3 px-4">
          <div class="col-1 d-grid justify-content-center p-0">
            <i class="fa fa-newspaper-o" aria-hidden="true"></i>
          </div>
          <div class="col-11 d-flex align-items-center">
            <span
              ><a
                href="http://igp-vast.vn/"
                class="link-warning"
                target="_blank"
                >VIỆN VẬT LÝ ĐỊA CẦU , VIỆN HÀN LÂM VÀ KHOA HỌC CÔNG NGHỆ VIỆT
                NAM</a
              ></span
            >
          </div>
        </div>
      </div>
      <div
        class="col-12 col-sm-12 col-md-2 d-grid justify-content-center mt-4 mt-md-0"
      >
        <div class="icons">
          <p class="about">
            <span class="text-center"> Theo dõi chúng tôi</span>
          </p>
          <div class="d-flex justify-content-center">
            <a href="#" class="m-2"><i class="fa fa-facebook"></i></a>
            <a href="#" class="m-2"><i class="fa fa-google"></i></a>
          </div>
        </div>
        <div class="icons">
          <p class="about">
            <span class="text-center"> Tải về ứng dụng</span>
          </p>
          <div class="d-flex justify-content-center">
            <a href="#" class="m-2"><i class="fa fa-android"></i></a>
            <a href="#" class="m-2"><i class="fa fa-apple"></i></a>
          </div>
        </div>
      </div>
    </div>
    <hr style="color: white" />
    <div class="container-fluid text-center">
      <p class="name">
        Hệ thống tự động báo tin nhanh động đất khu vực miền Bắc Việt Nam &copy;
        2022
      </p>
    </div>
  </footer>
  <style></style>
</template>
