<template name="footer">
    <!-- <footer>
        <div class="content-bottom w-100 d-flex align-items-center">
            <div class="container-fluid">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="footer-logo">
                        <a class="d-block" href="https://fimo.edu.vn"><img src="./assets/img/logo.png" alt="logo"></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-6">
                        <p class="mb-0 text-muted text-medium">FIMO 2021</p>
                    </div>
                </div>
            </div>
        </div>
    </footer> -->
    <footer class="footer ">
        <div class="row">
        <div class="col-3 col-sm-4 col-md-3 d-grid align-items-center justify-content-center">
            <div class="footer-logo">
                <a class="d-block" href="/"><img src="./assets/img/logo.png" alt="logo"></a>
            </div>            
          </div>
        <div class="col-9 col-sm-8 col-md-6 footer-info">
          <div class="d-md-flex align-items-center">
            <i class="fa fa-map-marker"></i>
            <span class ="text-white">18 Hoàng Quốc Việt, Nghĩa Đô, Cầu Giấy</span>
          </div>
          <div class="d-md-flex align-items-center">
            <i class="fa fa-phone"></i>
            <span style="color: white;"> (+84) 24 3756 4380</span>
          </div>
          <div class="d-md-flex align-items-center">
            <i class="fa fa-newspaper-o" aria-hidden="true"></i>
            <span><a href="http://igp-vast.vn/" target="_blank">VIỆN VẬT LÝ ĐỊA CẦU , VIỆN HÀN LÂM VÀ KHOA HỌC CÔNG NGHỆ VIỆT NAM</a></span>
          </div>
        </div>
        <hr class="d-block d-md-none text-white">
        <div class="col-12 col-sm-12 col-md-3 d-grid justify-content-center mt-4 mt-md-0">
            
            <div class="icons">
              <p class="about">
                <span> Theo dõi chúng tôi</span> 
              </p>
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#" style="float:right"><i class="fa fa-google"></i></a>
            </div>
          </div>
        </div>
        <hr style="color: white">
        <div class="container-fluid d-flex justify-content-center">
        <p class="name"> Hệ thống tự động báo tin nhanh động đất khu vực miền Bắc Việt Nam &copy; 2022</p>
        </div>
      </footer>
      <style>

      </style>
</template>
