<template name="footer">
    <footer>
        <div class="content-bottom w-100 d-flex align-items-center">
            <div class="container-fluid">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="footer-logo">
                        <a class="d-block" href="https://fimo.edu.vn"><img src="./assets/img/logo.png" alt="logo"></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-6">
                        <p class="mb-0 text-muted text-medium">FIMO 2021</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</template>
