<template name="reset">
    <div class="cotainer">
        <div class="row">
          <div class="form-content">
            <div class="form-signin">
              <form class="reset-form">
                <h1 class="h3 mb-3 fw-normal">Lấy lại mật khẩu bằng Email</h1> 
                <div class="form-floating">
                  <input type="text" class="form-control" id="floatingInput" placeholder="Email" name="email">
                  <label for="floatingInput">Email</label>
                </div>
                <button class="w-100 btn btn-lg btn-primary" type="submit">Xác nhận</button>
                <p>Bạn chưa có tài khoản ?</p><a href="/register">Đăng kí ngay</a>
              </form>
            </div>
          </div>
        </div>
    </div>
</template>