.map-block {
    min-height: 600px;
}
table {
    width: 100%;
}
td, th {
    border: 1px solid #EDEDED;
    text-align: center;
    padding: 3px;
    font-size: 12px;
  }
  tr:nth-child(even) {
    background-color: #EDEDED;
  }
  input.form-control.input-sm {
    width: 150px!important;

}
  label {
    font-size: 14px;
    float: left;
}
//   .wrapper {
//     height: auto;
// }