#timeSlider {
  width: 400px;
}
.wrapper {
  height: 1200px;
}
.table-content {
  /* display: block; */
  height: 450px;
  overflow: auto;
  margin-top: 40px;
}
thead {
  vertical-align: middle!important;
}
th.sorting {
  text-align: center;
}
.bg-light.border.rounded-3.col-md-3 {
  padding-left: 0px;
  padding-right: 0px;
}
#infoDiv {
  background-color: white;
  padding: 10px;
  width: 418px;
  position: absolute;
  top: auto;
  right: 10px;
  font-size: 14px;
  font-family: 'Be Vietnam Pro';
  display: none;
}
div#dulieu_info {
    font-size: 14px;
}
input.form-control.input-sm {
  padding: 0px;
}
td.dataTables_empty {
  text-align: left!important;
}
.dataTables_scrollBody {
  height: 440px!important;
}
div#dulieu_wrapper {
  margin: 10px;
}
div#stationtable_wrapper {
  margin: 20px;
}
.geometry-options {
  display: flex;
  flex-direction: row;
}
.ev {
  position: absolute;
}
.geometry-button {
  flex: 1;
  border-style: solid;
  border-width: 1px;
  border-image: none;
}

.geometry-button-selected {
  background: #4c4c4c;
  color: #fff;
}

.options {
  max-width: 260px;
  width: 100%;
  height: 25px;
}


// #bufferNum {
//   width: 90%;
//   margin: 2.5em auto 0;
// }