#timeSlider {
  width: 370px;
  padding-right: 10px;
}
.wrapper {
  height: 680px;
}
.table-content {
  /* display: block; */
  height: 450px;
  overflow: auto;
  margin-top: 40px;
}
thead {
  vertical-align: middle!important;
}
th.sorting {
  text-align: center;
}
.bg-light.border.rounded-3.col-md-3 {
  padding-left: 0px;
  padding-right: 0px;
}
#infoDiv {
  background-color: white;
  padding: 0px;
  width: 380px;
  position: absolute;
  top: -42px;
  right: 10px;
  font-size: 14px;
  font-family: 'Be Vietnam Pro';
  display: none;
}
h3.title{
  font-size: 14px;
  font-weight: 650;
}
.title{
  background-color: #0d70d3;
  margin: 0;
  padding-top: 7px;
  padding-bottom: 7px;
  max-width: 100%;
  width: 100%;
  text-align: center;
  color: #fff;
}

div#dulieu_info {
    font-size: 14px;
}
input.form-control.input-sm {
  padding: 0px;
}
td.dataTables_empty {
  text-align: left!important;
}
.dataTables_scrollBody {
  height: 440px!important;
}
div#dulieu_wrapper {
  margin: 10px;
}
div#stationtable_wrapper {
  margin: 20px;
}
.geometry-options {
  display: flex;
  flex-direction: row;
}
.ev {
  position: absolute;
}
.geometry-button {
  flex: 1;
  border-style: solid;
  border-width: 1px;
  border-image: none;
}

.geometry-button-selected {
  background: #4c4c4c;
  color: #fff;
}

.options {
  max-width: 265px;
    width: 100%;
    height: 25px;
    // display: block;
    margin-left: -12px;
    margin-top: 20px;
}


// #bufferNum {
//   width: 90%;
//   margin: 2.5em auto 0;
// }

.titleLegend{
  background-color: #0d70d3;
  margin: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  max-width: 100%;
  width: 100%;
  color: #fff;
}
h3.titleLegend{
  font-size: 1.17em;
  font-weight: 700;
  text-align: center;
}

#legendDiv{
  width: 230px;
}

div.esri-legend__service {
  padding: 3px 10px;
}

.esri-widget--panel-height-only::-webkit-scrollbar-track{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}
.esri-widget--panel-height-only::-webkit-scrollbar
{
  width: 12px;
  background-color: #F5F5F5;
}

.esri-widget--panel-height-only::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #D62929;
}

.esri-component.esri-coordinate-conversion{
  cursor: default;
  font-size: 12px;
  position: relative;
  width: 330px;
  top: 15px;
  left: 50px;
  background-color: #F9E2A8;
}

.esri-coordinate-conversion__tools{
  margin: -5px;
}
.row {
  margin: 0px!important;
}
li.esri-layer-list__item {
  background-color: #fff;
  border-bottom: 1px solid rgba(110,110,110,.3);
  // position: relative;
  overflow: hidden;
  list-style: none;
  margin: 2px 10px;
  padding: 0;
  transition: background-color 125ms ease-in-out;
}
