.hover-nav-link a:before {
  color: #fff;
  content: attr(data-hover);
  position: absolute;
  opacity: 0;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
  -webkit-transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
  -moz-transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
  transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  -moz-transition: -moz-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  pointer-events: none;
  border-bottom: 1px solid white;
}

.hover-nav-link a:hover:before,
.hover-nav-link a:focus:before {
  -webkit-transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
  -moz-transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
  transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
  opacity: 1;
}
.hover-nav-link li a span {
  color: white;
}
::marker {
  color: white;
}
nav.navbar.navbar-expand-lg.navbar-light.px-4 {
  background-color: #3d77b1 !important;
  opacity: 1 !important;
}
.hover-nav a {
  cursor: pointer;
  letter-spacing: 0;
  transition: 0.35s;
}
.navbar-light .navbar-nav .nav-link {
  // margin-left: 10px;
  color: rgb(255 255 255);
}
.hover-nav a:hover,
.hover-nav a:active {
  letter-spacing: 2px;
  transition: 0.35s;
}

// .hover-nav a:after, .hover-nav a:before {
// 	right : -10px
// }
.dropdown-toggle::after {
  display: inline-block !important;
  position: unset !important;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.hover-nav a:hover:before {
  width: 100%;
}
a.dropdown-item :hover {
  background-color: wheat;
}
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #ffd000;
}
.active-navbar {
  border-radius: 10px;
  background-color: #3d77b1;
  color: white !important;
}

.active-menu {
  color: #ffd000 !important;
}
.active-span {
  color: white !important;
}
.navbar-light .navbar-nav .nav-link {
  color: rgb(255 255 255);
  font-size: 17px;
  font-weight: 600;
}
.menu-bar {
  width: 30px;
  height: 40px;
  margin-top: 20px;
  cursor: pointer;
}

.bar {
  height: 5px;
  width: 100%;
  background-color: white;
  display: block;
  border-radius: 5px;
  transition: 0.3s ease;
}

.bar1 {
  transform: translateY(-4px);
}

.bar3 {
  transform: translateY(4px);
}

.nav {
  transition: 0.3s ease;
  display: none;
}

.change {
  display: block;
}

.change .bar1 {
  transform: translateY(4px) rotateZ(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translateY(-6px) rotateZ(45deg);
}

.change-bg {
  width: 520px;
  height: 460px;
  transform: translate(-60%, -30%);
}
.navbar-light .navbar-toggler {
  background-color: #3d77b1;
  border-color: #3d77b1;
}
@media only screen and (max-width: 500px) {
  ul.dropdown-menu {
    overflow: auto;
    max-width: 80vw;
  }
}
