.section--header {
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center top !important;
    position: relative !important;
    padding-top: 0 !important
}

.section--header header {
    position: static !important
}

.header__references_home,
.header__references_theme,
.header__references_hire {
    color: #97B4DF !important
}

.section-heading {
    font-weight: 500;
    font-size: 32px;
    color: #0C6BFA;
    margin-bottom: 10px
}

.section-desc {
    font-weight: 600;
    font-size: 44px;
    color: #2F3044
}

.main-menu-wrap {
    margin: 0 auto;
    position: relative
}

.main-menu-wrap .main-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    max-width: 1200px;
    margin-top: -80px;
    width: 100%;
    position: static;
    height: 120px;
    background: white;
    box-shadow: 0 0 30px rgba(62,14,136,0.12);
    border-radius: 9px
}

.main-menu-wrap .main-menu .main-link {
    font-weight: bold;
    border-radius: 6px;
    padding: 10px 23px;
    text-decoration: none;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #5B5670;
    -webkit-transition: all .1s;
    transition: all .1s;
    margin: 0 10px
}

.main-menu-wrap .main-menu .main-link.active {
    background-color: #E7F3FF;
    color: #1181E8;
    border-radius: 6px
}

.main-menu-wrap .main-menu .main-link.active:hover {
    background-color: #E7F3FF;
    color: #1181E8
}

.main-menu-wrap .main-menu .main-link:hover {
    background-color: #E7F3FF;
    border-radius: 6px;
    color: #1181E8;
    -webkit-transition: all .1s;
    transition: all .1s
}

footer {
    position: relative;
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 0 !important;
    margin-top: 50px
}

footer .content-bottom {
    // background-color: rgba(26,12,54,0.18);
    background-color: #26184B;
    opacity: 0.8;
    border-top: 1px solid rgba(255,255,255,0.1);
    width: 100%;
    height: 87px
}

footer .content-bottom .footer-references a {
    font-weight: 600;
    font-size: 15px;
    color: #97B4DF
}

footer .content-bottom .footer-references a:hover {
    text-decoration: none;
    color: #ffffff
}

footer .footer-email {
    color: #E7D9FF
}

footer h5 {
    color: #9F6FEC
}

footer a {
    text-decoration: none !important
}

footer a:hover {
    color: #fff
}

@media screen and (max-width: 993px) {
    .content .wrapper-bottom .title p {
        font-size:18px !important
    }
}

@media (min-width: 771px) {
    .section--header .sidebar__menu_wrap {
        display:none
    }
}

.section {
    width: 100%
}

.section--header {
    position: relative;
    background-attachment: fixed;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center top !important
}

.section--white {
    background-color: #fff
}

.section--lightGray {
    background-color: #f9f9fc
}

.section--padding {
    padding-top: 60px;
    padding-bottom: 100px
}

.content {
    margin: 0 auto;
    padding: 0 20px;
    width: 1200px
}

.content.content--fluid {
    width: auto;
    margin: 0 40px
}

.header__handler {
    //display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

header {
    width: 100%;
    height: 80px;
    // background-color: rgba(26,12,54,0.18);
    background-color: #26184B;
    opacity: 0.8;
    border-bottom: 1px solid rgba(255,255,255,0.1)

}

header > div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 100%
}

.sidebar {
    position: relative
}

.hamburger {
    cursor: pointer;
    margin-right: 10px;
    display: none
}

.hamburger svg {
    vertical-align: middle
}

.sidebar__menu_wrap {
    width: 200px;
    z-index: 100;
    position: fixed;
    top: 0;
    left: -200px;
    background-color: white;
    height: 100%
}

.sidebar__menu_wrap .sidebar__menu {
    list-style-type: none;
    padding: 20px 0 0 0;
    margin: 0;
    height: 100%
}

.sidebar__menu_wrap .sidebar__menu_close {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 5px
}

.sidebar__menu_wrap .sidebar__menu__item a {
    display: block;
    padding: 0 30px;
    font-weight: 500;
    font-size: 15px;
    color: #333a49;
    line-height: 50px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none
}

.sidebar__menu_wrap .sidebar__menu__item a:hover {
    color: #f21692
}

.header__references {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end
}

.header__references_home,.header__references_theme,.header__references_hire {
    position: relative;
    font-size: 15px;
    text-decoration: none;
    letter-spacing: 1px;
    margin-right: 30px;
    color: #95BAC6;
    font-weight: 600
}

.header__references_home:active,
.header__references_home:focus,
.header__references_home:hover,
.header__references_theme:active,
.header__references_theme:focus,
.header__references_theme:hover,
.header__references_hire:active,
.header__references_hire:focus,
.header__references_hire:hover {
    text-decoration: none;
    color: #fff !important
}

.header__references_home:active::after,
.header__references_home:focus::after,
.header__references_home:hover::after,
.header__references_theme:active::after,
.header__references_theme:focus::after,
.header__references_theme:hover::after,
.header__references_hire:active::after,
.header__references_hire:focus::after,
.header__references_hire:hover::after {
    position: absolute;
    top: 47px;
    left: 0;
    z-index: 2;
    content: "";
    width: 100%;
    height: 3px;
    background-color: #ffffff;
    border-radius: 6px
}

.header__references_theme {
    color: #fff !important
}

.header__references_theme::after {
    position: absolute;
    top: 47px;
    left: 0;
    z-index: 2;
    content: "";
    width: 100%;
    height: 3px;
    background-color: #E7F3FF;
    border-radius: 6px
}

.contents-sidebar-wide .contents__box {
    width: 866px
}

.sidebar__navigation {
    position: relative;
    z-index: 95
}

@media screen and (max-width: 1280px) {
    .content {
        width:100%
    }

    .content.content--fluid {
        margin: 0
    }

    .main__menu_wrap {
        display: none
    }

    .sidebar {
        //display: -webkit-inline-box;
        display: -webkit-inline-flex;
        display: -ms-inline-flexbox;
        display: inline-flex
    }

    .section--header {
        padding-bottom: 100px
    }

    .section--padding {
        padding-top: 0
    }

    .section--header {
        padding-top: 68px
    }

    header {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99;
        height: 68px;
        background-color: rgba(57,24,106,0.7);
        border-bottom: 1px solid rgba(255,255,255,0.3)
    }
}

@media screen and (max-width: 992px) {
    header {
        position: static
    }

    .section--header {
        padding-top: 0
    }
}

@media screen and (max-width: 845px) {
    .section--bg {
        padding:50px 0
    }

    footer {
        padding: 50px 30px
    }

    footer > img {
        margin-bottom: 30px
    }
}

@media screen and (max-width: 768px) {
    .sidebar-hide {
        display: none
    }

    header > .content {
        padding-left: 12px;
        padding-right: 12px
    }

    .hamburger {
        display: block
    }
}

@media (max-width: 1280px) {
    header {
        // background-color:rgba(57,24,106,0.2)
        background-color: #007BFF;
    }
}

@media (max-width: 1900px) {
    .section--header {
        background-size:auto !important
    }

    footer {
        background-size: auto !important
    }
}

@media (max-width: 1280px) {
    header .header__references .header__references_home,header .header__references .header__references_theme,header .header__references .header__references_hire {
        position:relative;
        font-size: 15px;
        color: #fff;
        text-decoration: none;
        letter-spacing: 1px;
        margin-right: 25px;
        color: #95BAC6;
        font-weight: 500
    }

    header .header__references .header__references_home:active,header .header__references .header__references_home:focus,header .header__references .header__references_home:hover,header .header__references .header__references_theme:active,header .header__references .header__references_theme:focus,header .header__references .header__references_theme:hover,header .header__references .header__references_hire:active,header .header__references .header__references_hire:focus,header .header__references .header__references_hire:hover {
        text-decoration: none;
        color: #fff !important
    }

    header .header__references .header__references_home:active::after,header .header__references .header__references_home:focus::after,header .header__references .header__references_home:hover::after,header .header__references .header__references_theme:active::after,header .header__references .header__references_theme:focus::after,header .header__references .header__references_theme:hover::after,header .header__references .header__references_hire:active::after,header .header__references .header__references_hire:focus::after,header .header__references .header__references_hire:hover::after {
        position: absolute;
        top: 43px;
        left: 0;
        z-index: 2;
        content: "";
        width: 100%;
        height: 3px;
        background-color: #E7F3FF;
        border-radius: 6px
    }

    header .header__references .header__references_theme {
        color: #fff !important
    }

    header .header__references .header__references_theme::after {
        position: absolute;
        top: 43px;
        left: 0;
        z-index: 2;
        content: "";
        width: 100%;
        height: 3px;
        background-color: #E7F3FF;
        border-radius: 6px
    }
}
