<template name="map_station">
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <div id="viewDiv">
        <div id="legendDiv" style="display: none;">
            <h3 class="titleLegend">
                <span>Chú thích</span>
            </h3>
        </div>
        <div id="infoDiv" class="esri-widget" style="display: none;">
            <h3 class="title">
                <span>Bộ lọc</span>
            </h3>
            
            <li class="esri-layer-list__item m-3">
                <label for="relationship-select">Network:</label>
                <select id="relationship-select" class="options">
                    <option value="all" selected >Chọn</option>
                    <option value="VN">VN</option>
                    <option value="RM">RM</option>
                    </select>
                <br /><br />
            </li>
            <div class="d-flex justify-content-center mx-auto">
                <div class="me-3 mb-3">
                    <button class="btn btn-warning text-white" title="Lọc" id="filter"><i class="fa fa-search" aria-hidden="true"></i>
                    
                    </button>
                </div>
                <div class="ms-3 mb-3">
                    <button class="btn btn-danger text-white" title="Xóa lọc" id="clearFilter">
                        <i class="fa fa-ban" aria-hidden="true"></i>
                      
                    </button>
                </div>
            </div>
          
            
        </div>
    </div>
    <div id="_modal" class="_modal">
        <div class="_main">
          <div class="_container">
            <div class="_title">
              <h3>Thông tin động đất Trạm đo được</h3>
            </div>
            <hr/>
            <div class="_content" id = "_content">
                
            </div>
            <div class="_footer">
              <hr/>
              <button id="close-modal" class="close-modal">Đóng</button>
            </div>
          </div>
        </div>
      </div>
    
</template>
