<template name="faq">
  <section class="m-5">
    <div class="container shadow-sm row p-2">
      <div class="p-2 col-8">
        <h2 class="fw-bold">Về chúng tôi</h2>
        <hr />
        <p>
          Viện Vật lý Địa cầu có các chức năng nghiên cứu cơ bản, quan trắc và
          điều tra cơ bản, phát triển, ứng dụng, tư vấn, cung cấp dịch vụ và
          chuyển giao công nghệ, đào tạo nguồn nhân lực có trình độ cao trong
          lĩnh vực vật lý địa cầu và các lĩnh vực khác có liên quan theo quy
          định của pháp luật.
        </p>
        <button
          class="btn btn-outline-primary"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseExample"
          aria-expanded="false"
          aria-controls="collapseExample"
        >
          Xem thêm
        </button>
        <div class="collapse mt-3" id="collapseExample">
          <div class="card card-body">
            <h3>Nhiệm vụ Nghiên cứu và Ứng dụng</h3>

            <h4>1. Nghiên cứu và điều tra cơ bản</h4>
            <ul>
              <li>
                <strong>a.</strong> Tổ chức quan trắc và điều tra cơ bản trong
                lĩnh vực vật lý địa cầu và liên quan; quản lý mạng lưới đài trạm
                vật lý địa cầu quốc gia. Thực hiện lưu trữ, quản lý, khai thác,
                sử dụng thông tin, dữ liệu vật lý địa cầu quốc gia.
              </li>
              <li>
                <strong>b.</strong> Tổ chức báo tin động đất và cảnh báo sóng
                thần theo quy định của Nhà nước; phối hợp với các cơ quan hữu
                quan trong và ngoài nước trong công tác ứng phó thiên tai và
                giảm nhẹ thiệt hại do động đất và sóng thần.
              </li>
              <li>
                <strong>c.</strong> Nghiên cứu, đánh giá, cung cấp luận cứ khoa
                học về đặc điểm các trường vật lý địa cầu, phục vụ các yêu cầu
                phát triển bền vững kinh tế - xã hội, khoa học-công nghệ và an
                ninh - quốc phòng:
                <ul>
                  <li>
                    Nghiên cứu các quy luật phát sinh và hoạt động động đất,
                    sóng thần trên phạm vi lãnh thổ, lãnh hải Việt Nam và các
                    khu vực liên quan;
                  </li>
                  <li>
                    Nghiên cứu trường từ Trái Đất và các hiện tượng liên quan
                    trong tầng điện ly, từ quyển và hoạt động Mặt Trời; nghiên
                    cứu cổ từ và từ tính đất đá;
                  </li>
                  <li>
                    Nghiên cứu cấu trúc bên trong Trái đất theo các tài liệu địa
                    vật lý: địa chấn, từ tellua, điện, trọng lực và từ;
                  </li>
                  <li>
                    Nghiên cứu biến đổi của tầng điện ly sử dụng kỹ thuật thăm
                    dò thẳng đứng, công nghệ Hệ thống vệ tinh định vị toàn cầu
                    liên tục, chụp ảnh bầu trời quan sát dịch chuyển plasma điện
                    ly trong mối quan hệ với hoạt tính Mặt trời, từ trường Trái
                    đất và các yếu tố thời tiết không gian vũ trụ-khí quyển, ảnh
                    hưởng của tầng điện ly lên quá trình truyền tín hiệu vệ tinh
                    ở khu vực Việt Nam và lân cận, và dự báo trạng thái điện ly;
                  </li>
                  <li>
                    Nghiên cứu hoạt động dông sét, chế độ gió, bức xạ và các
                    trường khí quyển trên lãnh thổ, lãnh hải Việt Nam và các
                    vùng liên quan.
                  </li>
                </ul>
              </li>
              <li>
                <strong>d.</strong> Nghiên cứu quá trình tiến hoá địa động lực
                vỏ Trái Đất và thạch quyển bằng các tài liệu địa chấn, trọng
                lực, GPS, biến dạng, cổ từ,...
              </li>
            </ul>

            <h4>2. Nghiên cứu ứng dụng</h4>
            <ul>
              <li>
                <strong>a.</strong> Nghiên cứu, đánh giá độ nguy hiểm và độ rủi
                ro động đất; phân vùng động đất và vi phân vùng động đất; nghiên
                cứu đề xuất các giải pháp phòng tránh động đất;
              </li>
              <li>
                <strong>b.</strong> Nghiên cứu, đánh giá an toàn địa chấn và
                sóng thần cho đê, đập, nhà máy điện hạt nhân, thủy điện và các
                công trình trọng điểm khác;
              </li>
              <li>
                <strong>c.</strong> Nghiên cứu và triển khai ứng dụng các phương
                pháp địa vật lý trong khảo sát thăm dò, đánh giá môi trường địa
                chất, nền móng công trình, an toàn đê đập và tìm kiếm khoáng
                sản, nước ngầm.
              </li>
              <li>
                <strong>d.</strong> Nghiên cứu, dự báo thời tiết, khí hậu, môi
                trường không khí và các hiện tượng thời tiết nguy hiểm (mưa lớn,
                bão và áp thấp nhiệt đới, nắng nóng, hạn hán, gió mạnh…), vòng
                tuần hoàn nước, quá trình lưu chuyển của nước trong thủy quyển;
                khai thác năng lượng gió, mặt trời; nghiên cứu đề xuất các giải
                pháp phòng chống sét; thực hiện tư vấn, thiết kế, thi công, kiểm
                định hệ thống, thiết bị chống sét, cảnh báo sét, cắt lọc sét cho
                mọi dạng công trình;
              </li>
              <li>
                <strong>d.</strong> Dự báo điện ly phục vụ mục đích thông tin
                liên lạc sóng ngắn, đánh giá gradient điện ly phục vụ xây dựng
                hệ thống gia tăng mặt đất (GBAS) hướng dẫn tiệm cận và hạ cánh
                chính xác trong hàng không dân dụng khu vực vĩ độ thấp Việt Nam
                và lân cận, dự báo thời tiết không gian.
              </li>
              <li>
                <strong>e.</strong> Nghiên cứu, đánh giá các tai biến môi trường
                trên cơ sở tài liệu vật lý địa cầu và các tài liệu khác liên
                quan.
              </li>
            </ul>

            <h4>3. Các nhiệm vụ khác</h4>
            <ul>
              <li>
                <strong>a.</strong> Tư vấn, giám sát và thẩm định kết quả các
                công tác quan trắc, điều tra, khảo sát về địa vật lý, rung động
                động đất, rung động nổ mìn và các rung động khác do con người
                gây ra.
              </li>
              <li>
                <strong>b.</strong> Nghiên cứu phát triển, kiểm định, hiệu chỉnh
                các thiết bị quan trắc và ứng dụng trong lĩnh vực vật lý địa cầu
                (máy địa chấn, máy địa vật lý, thiết bị quan trắc dông sét, khí
                quyển, rada, lidar,...).
              </li>
              <li>
                <strong>c.</strong> Dịch vụ khoa học, công nghệ trong lĩnh vực
                vật lý địa cầu và các lĩnh vực khác có liên quan.
              </li>
              <li>
                <strong>d.</strong> Tuyên truyền, phổ biến kiến thức các kết quả
                nghiên cứu khoa học và phát triển công nghệ trong lĩnh vực vật
                lý địa cầu.
              </li>
              <li>
                <strong>d.</strong> Đào tạo nguồn nhân lực khoa học và công nghệ
                có trình độ cao trong lĩnh vực vật lý địa cầu và các lĩnh vực
                khác có liên quan.
              </li>
              <li>
                <strong>e.</strong> Hợp tác quốc tế trong lĩnh vực vật lý địa
                cầu và các lĩnh vực khác có liên quan.
              </li>
              <li>
                <strong>g.</strong> Quản lý về tổ chức, bộ máy; quản lý và sử
                dụng cán bộ, công chức, viên chức của đơn vị theo quy định của
                Nhà nước và của Viện Hàn lâm Khoa học và Công nghệ Việt Nam.
              </li>
              <li>
                <strong>h.</strong> Quản lý về tài chính, tài sản của đơn vị
                theo quy định của Nhà nước.
              </li>
              <li>
                <strong>i.</strong> Thực hiện các nhiệm vụ khác do Chủ tịch Viện
                giao.
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-4">
        <img src="/img/igp.jpg" class="w-100" alt="Viện vật lý địa cầu" />
      </div>
    </div>
  </section>
  <section class="m-5">
    <div class="container shadow-sm row p-2">
      <div class="col-4 d-grid align-items-center">
        <img src="/img/faq.jpg" class="w-100" alt="Liên hệ" />
      </div>
      <div class="p-2 col-8">
        <h2 class="fw-bold">FAQ - Hỏi đáp</h2>
        <hr />
        <div class="accordion accordion-flush" id="accordionFlushExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#flush-collapseOne"
                aria-expanded="false"
                aria-controls="flush-collapseOne"
              >
                Hệ thống cảnh báo động đất sớm là gì?
              </button>
            </h2>
            <div
              id="flush-collapseOne"
              class="accordion-collapse collapse"
              aria-labelledby="flush-headingOne"
              data-bs-parent="#accordionFlushExample"
            >
              <div class="accordion-body">
                Hệ thống cảnh báo động đất sớm là một công nghệ được thiết kế để
                phát hiện các rung động do động đất và gửi thông tin cảnh báo
                trước khi cảm nhận được chấn động mạnh.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#flush-collapseTwo"
                aria-expanded="false"
                aria-controls="flush-collapseTwo"
              >
                Tôi có thể nhận thông báo cảnh báo từ hệ thống này không?
              </button>
            </h2>
            <div
              id="flush-collapseTwo"
              class="accordion-collapse collapse"
              aria-labelledby="flush-headingTwo"
              data-bs-parent="#accordionFlushExample"
            >
              <div class="accordion-body">
                Có, người dùng có thể đăng ký nhận thông báo qua email hoặc ứng
                dụng di động để nhận được thông tin cảnh báo khi có động đất xảy
                ra.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#flush-collapseThree"
                aria-expanded="false"
                aria-controls="flush-collapseThree"
              >
                Tôi nên làm gì khi nhận được cảnh báo động đất?
              </button>
            </h2>
            <div
              id="flush-collapseThree"
              class="accordion-collapse collapse"
              aria-labelledby="flush-headingThree"
              data-bs-parent="#accordionFlushExample"
            >
              <div class="accordion-body">
                Khi nhận được cảnh báo, hãy tìm nơi an toàn, tránh xa các vật
                dụng có thể rơi và nghe theo các hướng dẫn từ chính quyền địa
                phương.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-heading4">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#flush-collapse4"
                aria-expanded="false"
                aria-controls="flush-collapse4"
              >
                Làm thế nào để biết thông tin về động đất sau khi có cảnh báo?
              </button>
            </h2>
            <div
              id="flush-collapse4"
              class="accordion-collapse collapse"
              aria-labelledby="flush-heading4"
              data-bs-parent="#accordionFlushExample"
            >
              <div class="accordion-body">
                Thông tin chi tiết về động đất sẽ được cập nhật trên website
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="m-5">
    <div class="container shadow-sm row p-2">
      <div class="p-2 col-8">
        <h2 class="fw-bold">Liên hệ</h2>
        <hr />
        <h3>
          Viện Vật Lý Địa Cầu - Viện Hàn Lâm Khoa Học và Công Nghệ Việt Nam
        </h3>
        <p>Nhà A8 - 18 Hoàng Quốc Việt - Cầu Giấy - Hà Nội</p>
        <p>Tel: +84 24 37 564 380</p>
        <p>Fax: +84 24 38 364 696</p>
        <p>
          Website: <a href="http://www.igp-vast.vn">http://www.igp-vast.vn</a>
        </p>
      </div>
      <div class="col-4">
        <img src="/img/contact.png" class="w-100" alt="Liên hệ" />
      </div>
    </div>
  </section>
</template>
