<template name="dashboardTemplate">
  <style>
    /* Option 2: Import via CSS */
  </style>
  <section class="section section--header">{{> nav}}</section>
  <section class="section section--content">
    {{#if userUnVerified }} {{> verify_form }} {{else}}

    <div class="preloader">
      <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
      </div>
    </div>
    <!--New layout -->
    <div class="wrapper d-flex align-items-stretch">
      <nav id="sidebar" class="shadow">
        <div class="custom-menu mt-3">
          <button
            type="button"
            id="sidebarCollapse"
            class="btn btn-primary z-1"
          >
            <i class="fa fa-bars"></i>
          </button>
        </div>
        <div class="p-4 position-relative z-2">
          <ul class="list-unstyled components mb-5">
            <li class="sidebar-item">
              <a
                class="sidebar-link waves-effect waves-dark sidebar-link"
                aria-expanded="false"
                href="{{pathFor 'register-event'}}"
              >
                <span class="fa fa-bell me-2"></span>Đăng ký nhận sự kiện động
                đất
              </a>
            </li>
            {{#if rolesCheck}} {{else}}
            <li class="sidebar-item">
              <a
                class="sidebar-link waves-effect waves-dark sidebar-link"
                href="{{pathFor 'upload'}}"
                aria-expanded="false"
              >
                <span class="fa fa-upload me-2"></span>Tải dữ liệu sự kiện động
                đất
              </a>
            </li>
            <li class="sidebar-item">
              <a
                class="sidebar-link waves-effect waves-dark sidebar-link"
                href="{{pathFor 'manage-user'}}"
                aria-expanded="false"
              >
                <span class="fa fa-users me-2"></span>Quản lý người dùng
              </a>
            </li>
            <li class="sidebar-item">
              <a
                class="sidebar-link waves-effect waves-dark sidebar-link"
                href="{{pathFor 'manage-station'}}"
                aria-expanded="false"
              >
                <span class="bi bi-inboxes-fill me-2"></span>Quản lý trạm đo
              </a>
            </li>
            <li class="sidebar-item">
              <a
                class="sidebar-link waves-effect waves-dark sidebar-link"
                href="{{pathFor 'manage-event'}}"
                aria-expanded="false"
              >
                <span class="fa fa-globe me-2"></span>Quản lý sự kiện động đất
              </a>
            </li>
            <li class="sidebar-item">
              <a
                class="sidebar-link waves-effect waves-dark sidebar-link"
                href="{{pathFor 'manage-network'}}"
                aria-expanded="false"
              >
                <span class="bi bi-hdd-network-fill me-2"></span>Quản lý mạng
                trạm
              </a>
            </li>
            <li class="sidebar-item">
              <a
                class="sidebar-link waves-effect waves-dark sidebar-link"
                href="{{pathFor 'manage-device'}}"
                aria-expanded="false"
              >
                <span class="bi bi-hdd-rack-fill me-2"></span>Quản lý thiết bị
                Dataloger
              </a>
            </li>
            <li class="sidebar-item">
              <a
                class="sidebar-link waves-effect waves-dark sidebar-link"
                href="{{pathFor 'manage-sensor'}}"
                aria-expanded="false"
              >
                <span class="bi bi-easel-fill me-2"></span>Quản lý thiết bị
                Sensor
              </a>
            </li>
            <li class="sidebar-item">
              <a
                class="sidebar-link waves-effect waves-dark sidebar-link"
                href="{{pathFor 'manage-baler'}}"
                aria-expanded="false"
              >
                <span class="fa fa-microchip me-2"></span>Quản lý thiết bị Baler
              </a>
            </li>
            {{/if}}
          </ul>
        </div>
      </nav>

      <!-- Page Content  -->
      <div id="content" class="p-3 container-fluid">
        <div class="page-breadcrumb bg-white shadow mb-4 me-4 ms-4 rounded">
          <div class="row align-items-center">
            <div class="col-12">
              <h4 class="page-title" id="dashboard-title">Công cụ quản lý</h4>
            </div>
          </div>
        </div>
        {{> yield}}
      </div>
    </div>
    <script src="plugins/js/custom.js"></script>

    {{/if}}
  </section>

  {{> footer}}
</template>
