<template name="uploadForm">
  {{#if rolesCheck}} {{> not_access}} {{else}}
  <div class="container" id="upload">
    {{#if userUnVerified}} {{> verify_form }} {{else}}
    <div class="upload-progress">
      {{#with currentUpload}} Uploading <b>{{file.name}}</b>:
      <span id="progress">{{progress.get}}%</span>
      {{else}}
      <label class="btn btn-outline-info btn-lg">
        Tải lên tệp tin
        <input id="fileInput" type="file" hidden />
        <i class="fa fa-cloud-upload fa-lg" aria-hidden="true"></i>
      </label>
      {{/with}}
    </div>
    <div class="list-file" style="
        background-color: white;
    padding: 10px;
    width: 85%;
    height: 620px;
    border-radius: 10px;
    max-width: 850px;">
      <div class="uploaded-files">{{> uploadedFiles}}</div>
    </div>
    {{/if}}
  </div>

  {{/if}}
  <!-- <div class = "read">
    <h3>Nội dung thô của tệp:</h3>
    <pre id="file-content">Vui lòng upload file.</pre>
    <h3>Nội dung của tệp đã phân tích cú pháp:</h3>
    <pre id="file-parsed">Vui lòng upload file.</pre>
  </div> -->
</template>
<template name="uploadedFiles">
  {{#if uploadedFiles.count}}
  <ul class="list-group">
    {{#each file in uploadedFiles.each}}
    <li
      class="list-group-item d-flex justify-content-between align-items-center"
    >
      <div class="ms-2">
        <i class="fa fa-file-o fa-lg" aria-hidden="true"></i>
      </div>
      <div class="ms-2 me-auto">
        <div class="fw-bold">{{file.name}}</div>
        {{file.size}}<span> byte</span>
      </div>
      <span class="badge badge-primary badge-pill">
        <button class="btn btn-primary btn-sm" style="border: none">
          <a href="{{file.link}}?download=true" download="{{file.name}}"
            ><i
              class="fa fa-download fa-lg"
              style="color: white"
              aria-hidden="true"
            ></i
          ></a>
        </button>
        <!-- <button class="import" style ="border: none; background-color: white;" ><i class="fa fa-database fa-lg" value ="{{file._id}}"       aria-hidden="true"></i></button> -->
        <button class="delete btn btn-danger btn-sm" style="border: none">
          <i
            class="fa fa-trash fa-lg"
            value="{{file._id}}"
            aria-hidden="true"
          ></i>
        </button>
      </span>
    </li>
    {{/each}}
  </ul>

  {{else}}
  <div style="margin-top: 10px">Chưa có tài liệu được tải lên</div>
  {{/if}}
</template>
