<template name="map">
    <div id="viewDiv">
        <div id="infoDiv" class="esri-widget">
            <label for="relationship-select">Network:</label>
            <select id="relationship-select" class="options">
                <option value="all" selected >All</option>
                <option value="VN">VN</option>
                <option value="RM">RM</option>
                <option value=" " >Trống</option></select
            >
            <br /><br />
            <button class="esri-button" id="clearFilter" type="button">
                Clear filter
            </button>
        </div>
    </div>
    <div id="timeSlider"></div>
</template>
