<template name="map">
    <div id="viewDiv">
        <div id="infoDiv" class="esri-widget">
            <label for="relationship-select">Spatial relationship:</label>
            <select id="relationship-select" class="options">
                <option value="intersects">intersects</option>
                <option value="contains">contains</option>
                <option value="disjoint" selected>disjoint</option></select
            >
            <br /><br />
            <button class="esri-button" id="clearFilter" type="button">
                Clear filter
            </button>
        </div>
    </div>
    <div id="timeSlider"></div>
</template>
