<template name="nav">
    <header>
        <div class="content">
            <div class="header__handler">
                <div class="sidebar">
					 <!-- <span class="hamburger">
						<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 129 129"
                             enable-background="new 0 0 129 129" width="40px" height="40px">
							<g>
								<path d="m91.4,33.5h-53.8c-2.3,0-4.1,1.8-4.1,4.1 0,2.3 1.8,4.1 4.1,4.1h53.9c2.3,0 4.1-1.8 4.1-4.1-0.1-2.3-1.9-4.1-4.2-4.1z"
                                      fill="#FFFFFF"></path>
								<path d="m91.4,87.4h-53.8c-2.3,0-4.1,1.8-4.1,4.1 0,2.3 1.8,4.1 4.1,4.1h53.9c2.3,0 4.1-1.8 4.1-4.1-0.1-2.3-1.9-4.1-4.2-4.1z"
                                      fill="#FFFFFF"></path>
								<path d="m91.4,60.4h-53.8c-2.3,0-4.1,1.8-4.1,4.1 0,2.3 1.8,4.1 4.1,4.1h53.9c2.3,0 4.1-1.8 4.1-4.1-0.1-2.3-1.9-4.1-4.2-4.1z"
                                      fill="#FFFFFF"></path>
							</g>
						</svg>
					</span>
                    <div class="sidebar__menu_wrap">
                        <span class="sidebar__menu_close">x</span>
                        <ul class="sidebar__menu">
                            <li class="sidebar__menu__item active"><a href="/keen?page=index" target="" title="Preview"><span>Preview</span></a>
                            </li>
                            <li class="sidebar__menu__item"><a href="/keen?page=faq" target=""
                                                               title="Faq"><span>Faq</span></a></li>
                            <li class="sidebar__menu__item"><a href="/keen?page=docs" target=""
                                                               title="Docs"><span>Docs</span></a></li>
                        </ul>
                    </div> -->
                </div>
                <a href="https://fimo.edu.vn" class="logo"><img src="./assets/img/logo.png" alt="logo"></a>
            </div>
            {{#if isUserLogged}}
            <div class="header__references d-none d-md-block">
                <a href="/" class="header__references_home" >Home</a>
                <a href="/dashboard" class="header__references_dashboard">Dashboard</a> 
                <a class="header__references_logout" href="#">
                    <img src="img/1.jpg" alt="user-img" width="36"
                        class="img-circle"><span class="text-white font-medium">Log Out</span></a>
            </div>
            {{/if}}
        </div>
    </header>
</template>
