<template name="registerEvent">
  <div class="cotainer">
      <div class="row">
        <div class="form-content">
          <div class="form-signin">
        
        <h1 class="h3 mb-3 fw-normal">Đăng ký nhận cảnh báo</h1>
        <div id="slider"></div>
        <div style="margin-top: 20px;">
        <span> Min: {{slider.[0]}}</span> <span style="float:right">Max: {{slider.[1]}}</span>
      </div>
    
        <button class="w-100 btn btn-lg btn-primary" id="registerEvent" >Đăng kí</button>
      
        </div>
      </div>
      </div>
  </div>

  <style>

  </style>
</template>