<template name="category">
  <div class="container-fluid p-0 mb-4 position-relative">
    <nav id="leftSideBar" class="shadow position-absolute z-3 active h-100">
      <div class="custom-menu mt-3">
        <button type="button" id="sidebarCollapse" class="btn btn-primary z-1">
          <i class="fa fa-caret-right" id="iconArrow"></i>
        </button>
      </div>
      <div
        class="pb-4 pt-2 px-2 position-relative z-2 bg-white overflow-auto h-100"
      >
        <div class="mb-1">
          <h3 class="text-black text-center">Các sự kiện gần đây</h3>
          <div class="d-grid">
            <div class="d-flex mb-2 rounded bg-light">
              <button
                type="button"
                class="w-50 m-2 btn btn-light activeButton p-0"
                id="buttonProcessedEvent"
              >
                Danh mục đã chuẩn hóa
              </button>
              <button
                type="button"
                class="w-50 m-2 btn btn-light p-0"
                id="buttonRealtime"
              >
                Danh mục báo tin nhanh
              </button>
            </div>
            <div class="d-flex mb-2 rounded bg-light">
              <button
                type="button"
                class="w-50 p-2 m-2 btn btn-light activeButton p-0"
                id="buttonTime"
              >
                Lọc theo thời gian
              </button>
              <button
                type="button"
                class="w-50 p-2 m-2 btn btn-light p-0"
                id="buttonRegion"
              >
                Lọc theo khu vực
              </button>
              <!-- <button
                type="button"
                class="w-50 p-2 m-2 btn btn-light p-0"
                id="buttonDraw"
              >
                Vẽ trên bản đồ
              </button> -->
            </div>
            <div id="infoDiv" class="border-top border-bottom mb-2 card">
              <div class="d-flex">
                <div class="m-1 w-50 card">
                  <p class="title rounded-top">
                    <span>Lọc sự kiện</span>
                  </p>
                  <div class="d-grid">
                    <label for="depthSlider" class="text-dark my-2 ms-2"
                      >Độ sâu (km):</label
                    >
                    <div id="depthSlider" style="height: 50px !important"></div>
                  </div>
                  <div class="d-grid">
                    <label for="magnitudeSlider" class="text-dark my-2 ms-2"
                      >Cường độ:</label
                    >
                    <div
                      id="magnitudeSlider"
                      class="mb-1"
                      style="height: 50px !important"
                    ></div>
                  </div>
                </div>
                <div class="m-1 w-50 card">
                  <p class="title rounded-top">Thời gian sự kiện động đất</p>
                  <div class="m-1">
                    <div id="timeSlider"></div>
                  </div>
                </div>
              </div>
              <div class="d-flex justify-content-center mx-auto">
                <div class="m-2">
                  <button
                    class="btn btn-primary fw-bold text-white font-button"
                    id="filter"
                  >
                    <i class="fa fa-search" aria-hidden="true"></i> Lọc
                  </button>
                </div>
                <div class="m-2">
                  <button
                    class="btn btn-danger fw-bold text-white font-button"
                    id="clearFilter"
                  >
                    <i class="fa fa-ban" aria-hidden="true"></i> Bỏ lọc
                  </button>
                </div>
              </div>
            </div>
            <div
              id="filterRegion"
              class="border-top border-bottom mb-2 card"
              style="display: none"
            >
              <div class="m-1 d-flex justify-content-around align-items-center">
                <!-- <div class="text-dark fs-6 p-2 fw-bold">Tìm theo khu vực:</div> -->
                <div class="d-grid">
                  <div style="position: relative; text-align: center">
                    <span class="fw-bold">N</span><br /><input
                      style="text-align: center; width: 50px; margin: 0.5em"
                      id="maxLat"
                      value="90"
                      type="number"
                    /><br /><span class="fw-bold">W</span
                    ><input
                      style="
                        text-align: center;
                        width: 50px;
                        margin: 0.5em 1.5em 0.5em 0.5em;
                      "
                      type="number"
                      id="minLong"
                      value="-180"
                    /><input
                      style="
                        text-align: center;
                        width: 50px;
                        margin: 0.5em 0.5em 0.5em 1.5em;
                      "
                      type="number"
                      id="maxLong"
                      value="180"
                    /><span class="fw-bold">E</span><br /><input
                      style="text-align: center; width: 50px; margin: 0.5em"
                      id="minLat"
                      value="-90"
                      type="number"
                    /><br /><span class="fw-bold">S</span>
                  </div>
                  <div class="d-flex justify-content-center mx-auto">
                    <div class="m-2">
                      <button
                        class="btn btn-primary fw-bold text-white font-button"
                        id="button_filterRegion"
                      >
                        <i class="fa fa-search" aria-hidden="true"></i> Lọc
                      </button>
                    </div>
                    <div class="m-2">
                      <button
                        class="btn btn-danger fw-bold text-white font-button"
                        id="coordinateReset"
                      >
                        <i class="fa fa-ban" aria-hidden="true"></i> Bỏ lọc
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="my-auto d-flex justify-content-between">
              <div>
                <select class="form-select mb-2" id="softDatatable">
                  <option value="date" selected>Sắp xếp theo Ngày</option>
                  <option value="mag">Sắp xếp theo Cường độ</option>
                </select>
                <select
                  id="select-tools"
                  multiple
                  placeholder="Chọn tỉnh"
                ></select>
              </div>
              <div id="buttons"></div>
            </div>
          </div>
        </div>
        <div class="position-relative w-100 overflow-auto">
          <table id="dulieu" class="display table table-striped h-100">
            <thead>
              <tr id="tieude">
                <th>Ngày/Giờ</th>
                <th>Vị trí</th>
                <th>Vĩ độ</th>
                <th>Kinh độ</th>
                <th>Độ lớn</th>
                <th>Độ sâu</th>
                <th>Số liệu</th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
    </nav>
    <div class="col-md-12">
      <div id="bando">
        <div
          class="bg-light p-0 h-100"
          id="map"
          style="transition: margin-right 0.5s"
        >
          <div id="viewDiv">
            <div id="legendDiv" style="display: none">
              <h3 class="titleLegend">
                <span>Chú thích</span>
              </h3>
              <div class="m-2 overflow-auto">
                <h2 class="esri-widget__heading esri-legend__service-label">
                  Độ lớn
                </h2>
                <div class="row overflow-auto mx-auto" style="width: 450px">
                  <div
                    class="col d-grid justify-content-center align-items-end"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="8"
                      height="8"
                    >
                      <g transform="matrix(1,0,0,1,4,4)">
                        <circle
                          fill="rgba(232, 112, 0, 0.5)"
                          fill-rule="evenodd"
                          stroke="rgba(238, 174, 15, 1)"
                          stroke-width="1.3333333333333333"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-dasharray="none"
                          stroke-miterlimit="4"
                          cx="0"
                          cy="0"
                          r="3.3333333333333335"
                        ></circle>
                      </g>
                    </svg>

                    <span class="text-center">1</span>
                  </div>
                  <div
                    class="col d-grid justify-content-center align-items-end"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="12"
                      height="12"
                    >
                      <g transform="matrix(1,0,0,1,6,6)">
                        <circle
                          fill="rgba(232, 112, 0, 0.5)"
                          fill-rule="evenodd"
                          stroke="rgba(238, 174, 15, 1)"
                          stroke-width="1.3333333333333333"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-dasharray="none"
                          stroke-miterlimit="4"
                          cx="0"
                          cy="0"
                          r="5.333333333333333"
                        ></circle>
                      </g>
                    </svg>

                    <span class="text-center">2</span>
                  </div>
                  <div
                    class="col d-grid justify-content-center align-items-end"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                    >
                      <g transform="matrix(1,0,0,1,8,8)">
                        <circle
                          fill="rgba(232, 112, 0, 0.5)"
                          fill-rule="evenodd"
                          stroke="rgba(238, 174, 15, 1)"
                          stroke-width="1.3333333333333333"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-dasharray="none"
                          stroke-miterlimit="4"
                          cx="0"
                          cy="0"
                          r="7.333333333333334"
                        ></circle>
                      </g>
                    </svg>

                    <span class="text-center">3</span>
                  </div>
                  <div
                    class="col d-grid justify-content-center align-items-end"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="20"
                      height="20"
                    >
                      <g transform="matrix(1,0,0,1,10,10)">
                        <circle
                          fill="rgba(232, 112, 0, 0.5)"
                          fill-rule="evenodd"
                          stroke="rgba(238, 174, 15, 1)"
                          stroke-width="1.3333333333333333"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-dasharray="none"
                          stroke-miterlimit="4"
                          cx="0"
                          cy="0"
                          r="9.333333333333334"
                        ></circle>
                      </g>
                    </svg>

                    <span class="text-center">4</span>
                  </div>
                  <div
                    class="col d-grid justify-content-center align-items-end"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                    >
                      <g transform="matrix(1,0,0,1,12,12)">
                        <circle
                          fill="rgba(232, 112, 0, 0.5)"
                          fill-rule="evenodd"
                          stroke="rgba(238, 174, 15, 1)"
                          stroke-width="1.3333333333333333"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-dasharray="none"
                          stroke-miterlimit="4"
                          cx="0"
                          cy="0"
                          r="11.333333333333332"
                        ></circle>
                      </g>
                    </svg>

                    <span class="text-center">5</span>
                  </div>
                  <div
                    class="col d-grid justify-content-center align-items-end"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="28"
                      height="28"
                    >
                      <g transform="matrix(1,0,0,1,14,14)">
                        <circle
                          fill="rgba(232, 112, 0, 0.5)"
                          fill-rule="evenodd"
                          stroke="rgba(238, 174, 15, 1)"
                          stroke-width="1.3333333333333333"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-dasharray="none"
                          stroke-miterlimit="4"
                          cx="0"
                          cy="0"
                          r="13.333333333333334"
                        ></circle>
                      </g>
                    </svg>

                    <span class="text-center">6</span>
                  </div>
                  <div
                    class="col d-grid justify-content-center align-items-end"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="32"
                      height="32"
                    >
                      <g transform="matrix(1,0,0,1,16,16)">
                        <circle
                          fill="rgba(232, 112, 0, 0.5)"
                          fill-rule="evenodd"
                          stroke="rgba(238, 174, 15, 1)"
                          stroke-width="1.3333333333333333"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-dasharray="none"
                          stroke-miterlimit="4"
                          cx="0"
                          cy="0"
                          r="15.333333333333332"
                        ></circle>
                      </g>
                    </svg>

                    <span class="text-center">7</span>
                  </div>
                  <div
                    class="col d-grid justify-content-center align-items-end"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="36"
                      height="36"
                    >
                      <g transform="matrix(1,0,0,1,18,18)">
                        <circle
                          fill="rgba(232, 112, 0, 0.5)"
                          fill-rule="evenodd"
                          stroke="rgba(238, 174, 15, 1)"
                          stroke-width="1.3333333333333333"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-dasharray="none"
                          stroke-miterlimit="4"
                          cx="0"
                          cy="0"
                          r="17.333333333333332"
                        ></circle>
                      </g>
                    </svg>

                    <span class="text-center">8</span>
                  </div>
                  <div
                    class="col d-grid justify-content-center align-items-end"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="41"
                      height="41"
                    >
                      <g transform="matrix(1,0,0,1,20.5,20.5)">
                        <circle
                          fill="rgba(232, 112, 0, 0.5)"
                          fill-rule="evenodd"
                          stroke="rgba(238, 174, 15, 1)"
                          stroke-width="1.3333333333333333"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-dasharray="none"
                          stroke-miterlimit="4"
                          cx="0"
                          cy="0"
                          r="19.333333333333336"
                        ></circle>
                      </g>
                    </svg>

                    <span class="text-center">> 8</span>
                  </div>
                </div>
              </div>
              <div class="m-2">
                <h2 class="esri-widget__heading esri-legend__service-label">
                  Trạm địa chấn
                </h2>
                <div class="row">
                  <div class="col-4 d-flex align-items-center">
                    <img src="/img/station.png" class="w-25" />

                    <span class="text-center ms-1">Trạm quốc gia</span>
                  </div>
                  <div class="col-4 d-flex align-items-center">
                    <img src="/img/other-station.png" class="w-25" />

                    <span class="text-center ms-1">Trạm khác</span>
                  </div>
                  <div class="col-4 d-flex align-items-center">
                    <img src="/img/stop-station.png" class="w-25" />

                    <span class="text-center ms-1">Trạm dừng hoạt động</span>
                  </div>
                </div>
              </div>
              <div class="m-2">
                <h2 class="esri-widget__heading esri-legend__service-label">
                  Lớp dữ liệu
                </h2>
                <div class="row">
                  <div class="col-4">
                    <div class="text-center">
                      <span
                        style="
                          height: 30px;
                          width: 30px;
                          background-color: #83c7e8;
                          border-radius: 50%;
                          display: inline-block;
                        "
                      ></span>
                    </div>
                    <div class="text-center">Động đất toàn cầu</div>
                  </div>
                  <div class="col-4">
                    <div class="text-center">
                      <span
                        style="
                          height: 30px;
                          width: 30px;
                          background-color: #80d1c4;
                          border-radius: 50%;
                          display: inline-block;
                        "
                      ></span>
                    </div>

                    <div class="text-center">
                      Thông tin động đất (đã chuẩn hóa)
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="text-center">
                      <span
                        style="
                          height: 30px;
                          width: 30px;
                          background-color: #f3b77f;
                          border-radius: 50%;
                          display: inline-block;
                        "
                      ></span>
                    </div>
                    <div class="text-center">Thông báo nhanh động đất</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="popup" class="d-flex flex-column">
          <div class="p-2 shadow d-flex align-items-center" id="head_title">
            <button
              class="bg-white me-2"
              id="closebtn"
              style="border: unset !important"
            >
              <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </button>
            <span class="user-select-none">Thông tin chi tiết</span>
          </div>
          <div class="mt-1 overflow-auto">
            <div class="my-2">
              <div
                class="bg-primary bg-gradient text-white p-2 mb-2 user-select-none"
              >
                Tóm tắt
              </div>
              <div class="mb-2">
                <table class="table table-bordered">
                  <tr>
                    <td class="fw-bold">Thời gian</td>
                    <td colspan="3" id="time">Chưa có thông tin</td>
                  </tr>
                  <tr>
                    <td class="fw-bold">Vĩ độ</td>
                    <td id="lat">Chưa có thông tin</td>
                    <td class="fw-bold">Độ lớn</td>
                    <td class="mag">Chưa có thông tin</td>
                  </tr>
                  <tr>
                    <td class="fw-bold">Kinh độ</td>
                    <td id="long">Chưa có thông tin</td>
                    <td class="fw-bold">Độ sâu</td>
                    <td id="depth">Chưa có thông tin</td>
                  </tr>
                  <tr>
                    <td class="fw-bold">Vị trí</td>
                    <td colspan="3" id="location">Chưa có thông tin</td>
                  </tr>
                </table>
              </div>
            </div>
            <div class="my-2">
              <div
                class="bg-primary bg-gradient text-white p-2 mb-2 user-select-none"
                data-bs-toggle="collapse"
                data-bs-target="#magCollapse"
                aria-expanded="false"
                aria-controls="magCollapse"
                id="magHeading"
              >
                <i id="point" class="fa fa-plus-circle me-1"> </i>
                Độ lớn
              </div>

              <div class="collapse p-1" id="magCollapse"></div>
            </div>
            {{#if rolesCheck }}
            <div class="my-2">
              <div
                class="bg-primary bg-gradient text-white p-2 mb-2 user-select-none"
                data-bs-toggle="collapse"
                data-bs-target="#wavePickCollapse"
                aria-expanded="false"
                aria-controls="wavePickCollapse"
                id="wavePickHeading"
              >
                <i id="pointWavePick" class="fa fa-plus-circle me-1"> </i>
                Thông tin pick sóng
              </div>

              <div class="collapse" id="wavePickCollapse">
                <div
                  id="wavePickTable"
                  style="max-height: 50vh"
                  class="overflow-auto p-1 text-center"
                >
                  Chưa có thông tin
                </div>
              </div>
            </div>
            <div class="my-2">
              <div
                class="bg-primary bg-gradient text-white p-2 mb-2 user-select-none"
                data-bs-toggle="collapse"
                data-bs-target="#wavePictureCollapse"
                aria-expanded="false"
                aria-controls="wavePictureCollapse"
                id="wavePictureHeading"
              >
                <i id="pointWavePicture" class="fa fa-plus-circle me-1"> </i>
                Hình ảnh băng sóng
              </div>

              <div class="collapse" id="wavePictureCollapse">
                <div class="text-center">Chưa có thông tin</div>
              </div>
            </div>
            <div class="my-2">
              <div
                class="bg-primary bg-gradient text-white p-2 mb-2 user-select-none"
                data-bs-toggle="collapse"
                data-bs-target="#shakemapCollapse"
                aria-expanded="false"
                aria-controls="shakemapCollapse"
                id="shakemapHeading"
              >
                <i id="pointShakemap" class="fa fa-plus-circle me-1"> </i>
                Bản đồ shakemap
              </div>

              <div class="collapse" id="shakemapCollapse">
                <div class="text-center">Chưa có thông tin</div>
              </div>
            </div>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="preloader">
    <div class="lds-ripple">
      <div class="lds-pos"></div>
      <div class="lds-pos"></div>
    </div>
  </div>
  <script
    type="text/javascript"
    src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.11.3/b-2.0.1/b-colvis-2.0.1/b-html5-2.0.1/cr-1.5.4/datatables.min.js"
  ></script>
</template>
